<div class="row">
    <div class="col-md-10 ">

    </div>
</div>
<div class="row" ng-repeat="product in overview.products">
    <div class="col-md-12 product-box"
         style="background-image:url('http://localhost:3000/{{product.image}}')"
         >



        <div class="product-info" ng-init="product.bought = false;">

            <h3 class="product-name" ng-click="overview.goToProduct(product);">{{::product.name}}</h3>
            <h3 class="product-price">{{::product.playingTime | currency}}</h3>
            <div class="product-buynow" ng-click="overview.buyProduct(product);product.bought=!product.bought;">
                <span ng-hide="product.bought">BUY</span>
                <span ng-show="product.bought">REM</span>
            </div>
        </div>


    </div>
</div>